@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "markGeo-light";
  src: url("../public/fonts/MarkGEO-Light.otf")
}

@font-face {
  font-family: "markGeo-SemiBold";
  src: url("../public/fonts/MarkGEO-SemiBold.otf")
}

@font-face {
  font-family: "markGeo-CapsBold";
  src: url("../public/fonts/MarkGEOCAPS-Bold.otf")
}

@font-face {
  font-family: "markGeo-CapsLight";
  src: url("../public/fonts/MarkGEOCAPS-Light.otf")
}

.high_caps {
  font-variant-caps: all-small-caps;
}

body {
  margin: 0;
  font-family: markGeo-light;
  overflow-x: hidden;
  background: #4d4d4d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.slick-track {
  display: flex;
}

.slick-dots {
  display: flex !important;
  align-items: center;
  margin-left: 8px;
  margin-top: 48px;
  margin-bottom: 24px;
}

.slick-dots li {
  color: transparent;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  background-color: #e3000f;
}

.slick-dots .slick-active {
  color: transparent;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 2px solid white;
  background-color: #e3000f;
}

.gradient {
  background: rgb(0, 0, 0);
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.8438725832129726) 0%, rgba(0, 0, 0, 0.36207986612613796) 100%);
}

.fp-overflow {
  overflow-x: hidden;
}

.fp-is-overflow {
  overflow-x: hidden;
}

.animate-fade {
  animation-name: fadeIn;
  animation-duration: 4s;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}